#adminDash {
  padding-top: 85px;
  color: white;
  height: 100vh;
  /* background-color: aqua; */
}

.adminDashContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: aqua; */
}

.authError {
  display: flex;
  justify-content: center;
  font-family: "Bungee", cursive;
  text-shadow: 0px 7px 8px grey;
  /* background-color: red; */
}

.managementType {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  height: 100px;
}

.managementType button {
  height: 40px;
  background-color: black;
  border-style: none;
  font-size: x-large;
  color: white;
  margin-right: 30px;
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.25s;
}

.managementType button:hover {
  color: cornflowerblue;
  letter-spacing: 5px;
  text-shadow: 0px 4px 4px silver;
}

.dataT {
  height: 90%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
}
