#AdminDashNavBar {
  height: 100%;
  width: 100%;
}

#AdminDashNavBar a {
  margin-bottom: 10px;
}

.topBar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* margin-left: 20px;
  border-right-style: solid; */
}
