#adminDash {
  padding-top: 85px;
  color: white;
  height: 100vh;
  /* background-color: aqua; */
}

.adminDashContent {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: aqua; */
}

.authError {
  display: flex;
  justify-content: center;
  font-family: "Bungee", cursive;
  text-shadow: 0px 7px 8px grey;
  /* background-color: red; */
}

.sideNav {
  height: 100px;
}

.dataT {
  height: 90%;
  width: 100%;
  background-color: white;
}
