.gamesContainer {
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  left: 55px;
  font-family: "Syne Mono", monospace;
}

#gamesPageHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  left: 50px;
}

#gamesPageTitle {
  transition: 0.25s;
}

#gamesPageTitle:hover {
  text-shadow: 0px 5px 6px rgb(255, 0, 53);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.gamesList h1 {
  margin-bottom: 20px;
  transition: 0.25s;
}

.gamesList h1:hover {
  text-shadow: 0px 5px 6px cornflowerblue;
}

.navbar {
  margin-bottom: 40px;
  margin-top: 20px;
}

.navbar input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  border-bottom: 2px solid silver;
  margin-bottom: 10px;
  width: 200px;
  height: 40px;
  padding: 5px;
  font-family: "Syne Mono", monospace;
  transition: 0.5s;
}

.navbar input::placeholder {
  letter-spacing: 4px;
  text-align: center;
}

.navbar input:focus {
  color: silver;
  border-bottom: 2px solid cornflowerblue;
}

.navbar input:focus::placeholder {
  color: transparent;
}

.gamesGameCard {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 3px silver;
  width: 550px;
  padding: 35px;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: 0.25s;
}

.gamesGameCard:hover {
  box-shadow: 0px 0px 10px 3px cornflowerblue;
  /* box-shadow: 0px 0px 10px 3px rgb(255, 0, 53); */
}

.gamesGameCard img {
  height: 150px;
  width: 155px;
  scale: 1.2;
}

#allGamesGameInfo {
  display: flex;
  flex-direction: column;
  width: 275px;
  font-family: "Syne Mono", monospace;
  justify-content: space-between;
}

#allGamesGameInfo a {
  color: white;
  /* margin: auto; */
  text-decoration: none;
  transition: 0.25s;
}

#allGamesGameInfo a:hover {
  color: rgb(255, 0, 53);
  /* letter-spacing: 1px; */
}
