.gamesContainer {
  color: white;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;
  left: 55px;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.gamesList h1 {
  margin-bottom: 10px;
}

.gamesContainer button {
  background-color: black;
  /* margin: 20px; */
  width: 50px;
}

.content {
  height: 80px;
  width: 700px;

  background-color: rgb(22, 21, 21);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contentLeft {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contentLeft h4 {
  /* font-weight: 400; */
  font-size: x-small;
}

.contentRight {
  margin-right: 20px;
}

/* .contentLeft .contentRight {
  background-color: rgb(156, 92, 92);
} */

.contentLeft h4,
h2 {
  background-color: rgb(22, 21, 21);
}

img {
  width: 150px;
  height: 70px;
  margin-right: 10px;
}
