.gameContainer {
  display: flex;
  justify-content: center;
  color: white;
  /* position: relative;
  top: 100px;
  left: 55px; */
  padding-top: 80px;
}

.gameImage img {
  height: 500px;
  width: 700px;
  object-fit: fill;
}

.gameView {
  width: 700px;
  min-height: 200px;
  height: auto;
  margin: 10px;
  background-color: rgb(22, 21, 21);
  box-shadow: 0px 0px 25px white;
  /* font-family: "Kalam", cursive; */
  font-family: "Syne Mono", monospace;
  transition: 0.25s;
}

.gameView:hover {
  box-shadow: 0px 0px 25px cornflowerblue;
}

.gameInfo {
  display: flex;
  flex-direction: column;

  margin: 20px;
}

.newImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.gameInfoE {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.gameInfo h1,
p,
h3 {
  margin: 2.5px;
}

.gameInfoMore {
  margin-top: 10px;
  width: 650px;

  display: flex;
  justify-content: space-around;
}

#addToCart {
  float: right;
}

.addToCart .editGameButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.gameButtons button {
  height: 30px;
  background-color: rgb(22, 21, 21);
  border-style: none;
  font-size: medium;
  color: white;
  margin-right: 30px;
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.25s;
}

.gameButtons button:hover {
  color: cornflowerblue;
  letter-spacing: 5px;
  text-shadow: 0px 4px 4px silver;
}

#gameError {
  width: 150px;
  color: red;
  position: absolute;
  left: 50px;
  top: 350px;
  font-family: "Bungee", cursive;
}

.gameButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  border-bottom: 2px solid silver;
  margin-bottom: 10px;
  width: 280px;
  height: 40px;
  padding: 5px;
  font-family: "Syne Mono", monospace;
  transition: 0.5s;
}

.buttonSubmitEdit {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.submitEdit {
  height: 30px;
  background-color: rgb(22, 21, 21);
  border-style: none;
  font-size: medium;
  color: white;
  margin-right: 30px;
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.25s;
}

.buttonSubmitEdit button:hover {
  color: cornflowerblue;
  letter-spacing: 5px;
  text-shadow: 0px 4px 4px silver;
}
