#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: black; */
  height: 100vh;
  width: 100vw;
}

#homeMessage {
  font-size: 35px;
  color: white;
  position: relative;
  bottom: 150px;
  box-shadow: 0px 12px 12px -10px silver;
  font-family: "Syne Mono", monospace;
  /* font-family: "Kalam", cursive; */
  transition: 0.25s;
}

#homeMessage:hover {
  box-shadow: 0px 12px 12px -10px rgb(255, 0, 53);
  text-shadow: 0px 5px 6px rgb(255, 0, 53);
}

#homeUser {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 120px;
}

#signature {
  color: white;
  position: fixed;
  bottom: 20px;
  /* font-family: "Kalam", cursive; */
  font-family: "Syne Mono", monospace;
}
