#MissingPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  font-family: "Bungee", cursive;
  text-shadow: 0px 7px 8px grey;
}

#MissingPage a {
  color: white;
  margin-right: 30px;
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.25s;
  text-shadow: none;
}

#MissingPage a:hover {
  color: cornflowerblue;
  letter-spacing: 5px;
  /* text-shadow: 0px 4px 4px silver; */
}
